/* =========================
   RESET Y BASE
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #ffffff;
  padding-top: 80px;
}

/* =========================
   NAVBAR
========================= */
.navbar {
  border-bottom: 2px solid #ff4500;
}

.navbar-brand {
  color: #ff4500 !important;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-link {
  color: #ffffff !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ff4500 !important;
}

/* =========================
   HERO
========================= */
.hero {
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
  url("../img/fondo1.jpg") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero h1 {
  color: #ff4500;
  text-shadow: 0 0 15px #ff0000;
}

.lead {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* =========================
   BOTONES
========================= */
.btn-flama {
  background: linear-gradient(45deg, #ff0000, #ff6a00);
  color: white;
  border: none;
  padding: 12px 22px;
  transition: 0.3s;
}

.btn-flama:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff4500;
}

.btn-wsp {
  background: #25d366;
  color: #fff;
  padding: 12px 22px;
}

.btn-ig {
  background: linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
  color: #fff;
  padding: 12px 22px;
}

/* =========================
   CARDS
========================= */
.card-flama {
  background: #201d1d4d;
  border: 2px solid #c74204;
  transition: 0.3s;
}

.card-flama:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #ff4500;
}
.card-flama {
  background: #111;
  border: 2px solid #ff4500;
  transition: 0.3s;
  color: #ffffff; 
}

.card-flama h5 {
  color: #ff4500; 
  font-weight: 600;
}

.card-flama p {
  color: #dddddd; 
}
.card-flama:hover h5 {
  color: #ff6a00;
}

.card-flama:hover p {
  color: #ffffff;
}
/* =========================
   SECCIONES
========================= */
section {
  padding: 60px 0;
}

h2 {
  color: #ff4500;
  text-align: center;
  margin-bottom: 30px;
}

/* =========================
   FOOTER
========================= */
.footer-flama {
  background: #000;
  border-top: 2px solid #ff4500;
}

.footer-flama a {
  color: #ff4500;
  transition: 0.3s;
}

.footer-flama a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ff4500;
}

/* =========================
   SOBRE MI
========================= */
.about-section {
  background: #111;
  border: 2px solid #ff4500;
  padding: 30px;
  border-radius: 10px;
}

/* =========================
   CONTACTO
========================= */
.contact-buttons a {
  font-size: 1.2rem;
  padding: 15px 30px;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1rem;
  }
}
