@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg) {
  background-color: $bg;
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}
